@model MagicVilla_Web.Models.Dto.VillaUpdateDto

@{
    ViewData["Title"] = "ActualizarVilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Actualizar Villa</h1>
<form asp-action="ActualizarVilla" method="post">


    <div class="container border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="RowVersion" />
    <div class="row">
        <h2 class="text-info">Actualizar Villa</h2>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-md-6">
            <label asp-for="Tarifa" class="control-label"></label>
            <input asp-for="Tarifa" class="form-control" />
            <span asp-validation-for="Tarifa" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <label asp-for="Detalle" class="control-label"></label>
            <textarea asp-for="Detalle" class="form-control"></textarea>
            <span asp-validation-for="Detalle" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <label asp-for="ImageUrl" class="control-label"></label>
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <label asp-for="Ocupantes" class="control-label"></label>
            <input asp-for="Ocupantes" class="form-control" />
            <span asp-validation-for="Ocupantes" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <label asp-for="MetrosCuadrados" class="control-label"></label>
            <input asp-for="MetrosCuadrados" class="form-control" />
            <span asp-validation-for="MetrosCuadrados" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <label asp-for="Amenidad" class="control-label"></label>
            <input asp-for="Amenidad" class="form-control" />
            <span asp-validation-for="Amenidad" class="text-danger"></span>
        </div>
    </div>
    <div class="d-grid gap-2 d-md-block mt-2">
        <input type="submit" value="Actualizar" class="btn btn-primary" />
        <a asp-controller="Villa" asp-action="IndexVilla" class="btn btn-secondary">Back to List</a>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

